<a href="https://www.kaggle.com/code/darshanprabhu09/n6-pandas-playground-eda-constant-experimentation?scriptVersionId=135323246" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: #FF4500; border-bottom: 8px solid WHITE" > TABLE OF CONTENTS<br><div>  

    
* [1 - INSTALLING PANDAS](#1)
* [2 - READING THE FILE](#2)
* [3 -  HEAD()](#3)
* [4 - TAIL()](#4)
* [5 - DTYPES](#5)
* [6 - PRINTING COLUMNS WITH PARTICULAR DTYPES ](#6)
    * [6.1 -  PRINT ROWS AND COLUMNS HAVING THE DATATYPE AS "OBJECT".](#6.1)
    * [6.2 -  PRINT ROWS AND COLUMNS HAVING THE DATATYPE AS "int64".](#6.2)
* [7 - RETRIEVING COLUMNS HEADERS.](#7)
    * [7.1 - INT64](#7.1)
    * [7.2 - OBJECT](#7.2)
* [8 - FORMATTING DATATYPES](#8)
* [9 - ROUNDING OF THE DATA](#9)
* [10 - BEGINNING & END OF DATA ](#10)
* [11 - EXPLORATORY DATA ANALYSIS](#11)
    * [11.1 - Descrpition about index of data](#11.1)
    * [11.2 - Statistical description of Dataframe](#11.2)
    * [11.3 -  TO GET TOTAL NUMBER OF ROWS](#11.3)
* [12 - GROUPBY()](#12)
* [13 - CROSSTAB()](#13)
* [14 - WHERE()](#14)
* [15 - nUNIQUE()](#15)
* [16 - VALUE_COUNTS()](#16)
* [17 - CUT()](#17)
* [18 - MELT()](#18)
* [19 - PIVOT TABLE](#19)
* [20 - CATEGORICAL](#20)

# <a id="1"></a>
# <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" >1 -  Installing Pandas .  <br><div>

To install pandas, you can use the following command , Make sure you have pip installed on your system before running the command.




```
pip install pandas

```

Use the above statement in "Console" of your notebook or Command prompt of your device .

In [1]:
import pandas as pd
import os

# <a id="2"></a>
# <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 2 - Reading the csv file into tabular format .  <br><div>


## <span style="color: #FF4450;">  To read a file using pandas, you can use the read_csv()

## <span style="color: #FF4450;"> First Data .

In [2]:
# Assuming a variable "data" and storing the data into it using path . 

data = pd.read_csv("/kaggle/input/countries-economy-gdp-and-everything/countries-of-the-world.csv")
data

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"

## <span style="color: #FF4450;"> Second Data .

In [3]:
data2 = pd.read_csv("/kaggle/input/500-albums-between-1955-2011/500 albums (1955-2011).csv")
print(data2)

     Number  Year                              Album           Artist  \
0       101  1955             In the Wee Small Hours    Frank Sinatra
1        56  1956                      Elvis Presley    Elvis Presley
2       308  1956         Songs for Swingin' Lovers!    Frank Sinatra
3        50  1957              Here's Little Richard   Little Richard
4       420  1957            The "Chirping" Crickets     The Crickets
..      ...   ...                                ...              ...
495     430  2007                    Vampire Weekend  Vampire Weekend
496     494  2007               Oracular Spectacular             MGMT
497     437  2008                     Tha Carter III        Lil Wayne
498     353  2010  My Beautiful Dark Twisted Fantasy       Kanye West
499     381  2011                 The Smile Sessions   The Beach Boys

                     Genre                             Subgenre
0                Jazz, Pop                     Big Band, Ballad
1                     Rock              Rock & Roll, Rockabilly
2                Jazz, Pop                Vocal, Easy Listening
3              Rock, Blues          Rock & Roll, Rhythm & Blues
4                Rock, Pop              Rockabilly, Rock & Roll
..                     ...                                  ...
495                   Rock                           Indie Rock
496  Electronic, Rock, Pop                Synth-pop, Indie Rock
497   Hip Hop, Funk / Soul  RnB/Swing, Screw, Pop Rap, Thug Rap
498                Hip Hop                                 None
499                   Rock           Pop Rock, Psychedelic Rock

[500 rows x 6 columns]

## <span style="color: #FF4450;"> Third Data .

In [4]:
data3 = pd.read_csv("/kaggle/input/tabular-playground-series-mar-2022/train.csv")
print(data3)

        row_id                 time  x  y direction  congestion
0            0  1991-04-01 00:00:00  0  0        EB          70
1            1  1991-04-01 00:00:00  0  0        NB          49
2            2  1991-04-01 00:00:00  0  0        SB          24
3            3  1991-04-01 00:00:00  0  1        EB          18
4            4  1991-04-01 00:00:00  0  1        NB          60
...        ...                  ... .. ..       ...         ...
848830  848830  1991-09-30 11:40:00  2  3        NB          54
848831  848831  1991-09-30 11:40:00  2  3        NE          28
848832  848832  1991-09-30 11:40:00  2  3        SB          68
848833  848833  1991-09-30 11:40:00  2  3        SW          17
848834  848834  1991-09-30 11:40:00  2  3        WB          24

[848835 rows x 6 columns]

# <a id="3"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 3 - head() .  <br><div>
## <span style="color: #FF4450;"> Prints first five rows Data .

In [5]:
data.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN


# <a id="4"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 4 - tail() .  <br><div>
## <span style="color: #FF4450;"> Prints last five rows Data .

In [6]:
data.tail()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
222,West Bank,NEAR EAST,2460492,5860,"419,9","0,00","2,98","19,62",800.0,NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,273008,266000,"1,0","0,42",NaN,NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,21456188,527970,"40,6","0,36",0,"61,5",800.0,"50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,"15,3","0,00",0,"88,29",800.0,"80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,"31,3","0,00",0,"67,69",1900.0,"90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"


# <a id="5"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 5 - .dtypes .  <br><div>
## <span style="color: #FF4450;"> Datatypes of data :

In [7]:
data.dtypes

Country                                object
Region                                 object
Population                              int64
Area (sq. mi.)                          int64
Pop. Density (per sq. mi.)             object
Coastline (coast/area ratio)           object
Net migration                          object
Infant mortality (per 1000 births)     object
GDP ($ per capita)                    float64
Literacy (%)                           object
Phones (per 1000)                      object
Arable (%)                             object
Crops (%)                              object
Other (%)                              object
Climate                                object
Birthrate                              object
Deathrate                              object
Agriculture                            object
Industry                               object
Service                                object
dtype: object


# <a id="6"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 6 - Printing columns with particular dtypes .  <br><div>
    
# <a id="6.1"></a>
## <span style="color: #FF4450;">  Print rows and columns having the datatype as "object".

In [8]:
data.select_dtypes(object)

,Country,Region,Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),"48,0","0,00","23,06","163,07","36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,"124,6","1,26","-4,93","21,52","86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,"13,8","0,04","-0,39",31,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,"290,4","58,29","-20,71","9,27","97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,"152,1","0,00","6,6","4,05","100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,"419,9","0,00","2,98","19,62",NaN,"145,2","16,9","18,97","64,13",3,"31,67","3,92","0,09","0,28","0,63"
223,Western Sahara,NORTHERN AFRICA,"1,0","0,42",NaN,NaN,NaN,NaN,"0,02",0,"99,98",1,NaN,NaN,NaN,NaN,"0,4"
224,Yemen,NEAR EAST,"40,6","0,36",0,"61,5","50,2","37,2","2,78","0,24","96,98",1,"42,89","8,3","0,135","0,472","0,393"
225,Zambia,SUB-SAHARAN AFRICA,"15,3","0,00",0,"88,29","80,6","8,2","7,08","0,03","92,9",2,41,"19,93","0,22","0,29","0,489"
226,Zimbabwe,SUB-SAHARAN AFRICA,"31,3","0,00",0,"67,69","90,7","26,8","8,32","0,34","91,34",2,"28,01","21,84","0,179","0,243","0,579"


# <a id="6.2"></a>
## <span style="color: #FF4450;">  print rows and columns having the datatype as "int64".


</p>

<p style="text-align: center;">
    <!-- Content related to the bar chart can be added here -->
</p>

In [9]:
data.select_dtypes('int64')

     Population  Area (sq. mi.)
0      31056997          647500
1       3581655           28748
2      32930091         2381740
3         57794             199
4         71201             468
..          ...             ...
222     2460492            5860
223      273008          266000
224    21456188          527970
225    11502010          752614
226    12236805          390580

[227 rows x 2 columns]

In [10]:
f"Categorical Columns {data.select_dtypes('object').columns.tolist()}"

"Categorical Columns ['Country', 'Region', 'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)', 'Net migration', 'Infant mortality (per 1000 births)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)', 'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate', 'Agriculture', 'Industry', 'Service']"


# <a id="7"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 7- Retrieving Columns By The Header Type .  <br><div>
    
# <a id="7.1"></a>
## <span style="color: #FF4450;">  Print column Headers having the datatype as "int64".

In [11]:
f"Numerical Columns {data.select_dtypes('int64').columns.tolist()}"

"Numerical Columns ['Population', 'Area (sq. mi.)']"





## <span style="color: #FF4450;"> Retrieving the head or first five records of datatype as int64

In [12]:
data.select_dtypes('int64').head()

   Population  Area (sq. mi.)
0    31056997          647500
1     3581655           28748
2    32930091         2381740
3       57794             199
4       71201             468







## <span style="color: #FF4450;"> Doing the same for objects:

In [13]:
data.select_dtypes('object').head()

,Country,Region,Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),"48,0","0,00","23,06","163,07","36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,"124,6","1,26","-4,93","21,52","86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,"13,8","0,04","-0,39",31,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,"290,4","58,29","-20,71","9,27","97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,"152,1","0,00","6,6","4,05","100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN


# <a id="8"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 8 - Formatting Data .  <br><div>








## <span style="color: #FF4450;"> Formatting the dataframes: 


</p>

<p style="text-align: center;">
    <!-- Content related to the bar chart can be added here -->
</p>

In [14]:
data.select_dtypes('int64').head(50).style.background_gradient(cmap = "RdBu")

In [15]:
data2.select_dtypes('int64').head(50).style.background_gradient(cmap = "BuGn")


# <a id="9"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" >  9 - Rounding off the data : 
  <br><div>


## <span style="color: #FF4450;"> To round the values in a column, you can use the round() function

In [16]:
data3.head()

   row_id                 time  x  y direction  congestion
0       0  1991-04-01 00:00:00  0  0        EB          70
1       1  1991-04-01 00:00:00  0  0        NB          49
2       2  1991-04-01 00:00:00  0  0        SB          24
3       3  1991-04-01 00:00:00  0  1        EB          18
4       4  1991-04-01 00:00:00  0  1        NB          60



## <span style="color: #FF4450;">  Lets convert characters into real time.

In [17]:
data3['time'] = pd.to_datetime(data3['time'])



<p style="padding: 10px; background-color: #000000; margin: 0; color: ORANGE; font-family: New Times Roman; font-size: 135%; text-align: center; border-radius: 5px; overflow: hidden; font-weight: 500;">
  NOTE :
 


</p>

<p style="text-align: center;">
    <!-- Content related to the bar chart can be added here -->
</p>
The line of code `data3_dt = data3.set_index('time')` takes the DataFrame called `data3` and rearranges it so that the column called 'time' becomes the special identifier for each row in the new DataFrame called `data3_dt`. This makes it easier to access and work with the data based on the values in the 'time' column.

In [18]:
data3_dt = data3.set_index('time') # The 'data3_dt' variable is being set as a new DataFrame 
# by using the 'set_index' function with the column 'time' as the new index.
print(data3_dt)

                     row_id  x  y direction  congestion
time
1991-04-01 00:00:00       0  0  0        EB          70
1991-04-01 00:00:00       1  0  0        NB          49
1991-04-01 00:00:00       2  0  0        SB          24
1991-04-01 00:00:00       3  0  1        EB          18
1991-04-01 00:00:00       4  0  1        NB          60
...                     ... .. ..       ...         ...
1991-09-30 11:40:00  848830  2  3        NB          54
1991-09-30 11:40:00  848831  2  3        NE          28
1991-09-30 11:40:00  848832  2  3        SB          68
1991-09-30 11:40:00  848833  2  3        SW          17
1991-09-30 11:40:00  848834  2  3        WB          24

[848835 rows x 5 columns]

The 'data3_dt.index' command gives you the list of labels that are used to identify the rows in the DataFrame called 'data3_dt'. It's like a special column that helps you find and organize the data easily.

In [19]:
data3_dt.index

DatetimeIndex(['1991-04-01 00:00:00', '1991-04-01 00:00:00',
               '1991-04-01 00:00:00', '1991-04-01 00:00:00',
               '1991-04-01 00:00:00', '1991-04-01 00:00:00',
               '1991-04-01 00:00:00', '1991-04-01 00:00:00',
               '1991-04-01 00:00:00', '1991-04-01 00:00:00',
               ...
               '1991-09-30 11:40:00', '1991-09-30 11:40:00',
               '1991-09-30 11:40:00', '1991-09-30 11:40:00',
               '1991-09-30 11:40:00', '1991-09-30 11:40:00',
               '1991-09-30 11:40:00', '1991-09-30 11:40:00',
               '1991-09-30 11:40:00', '1991-09-30 11:40:00'],
              dtype='datetime64[ns]', name='time', length=848835, freq=None)

In [20]:
data3_dt.index.round('S')

DatetimeIndex(['1991-04-01 00:00:00', '1991-04-01 00:00:00',
               '1991-04-01 00:00:00', '1991-04-01 00:00:00',
               '1991-04-01 00:00:00', '1991-04-01 00:00:00',
               '1991-04-01 00:00:00', '1991-04-01 00:00:00',
               '1991-04-01 00:00:00', '1991-04-01 00:00:00',
               ...
               '1991-09-30 11:40:00', '1991-09-30 11:40:00',
               '1991-09-30 11:40:00', '1991-09-30 11:40:00',
               '1991-09-30 11:40:00', '1991-09-30 11:40:00',
               '1991-09-30 11:40:00', '1991-09-30 11:40:00',
               '1991-09-30 11:40:00', '1991-09-30 11:40:00'],
              dtype='datetime64[ns]', name='time', length=848835, freq=None)


# <a id="10"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 10 - Beginning & End of data.  <br><div>



## <span style="color: #FF4450;">  To view the beginning and end of the DataFrame, you can use the head() and tail() functions together.

In [21]:
data2.head() # First five records

,Number,Year,Album,Artist,Genre,Subgenre
0,101,1955,In the Wee Small Hours,Frank Sinatra,"Jazz, Pop","Big Band, Ballad"
1,56,1956,Elvis Presley,Elvis Presley,Rock,"Rock & Roll, Rockabilly"
2,308,1956,Songs for Swingin' Lovers!,Frank Sinatra,"Jazz, Pop","Vocal, Easy Listening"
3,50,1957,Here's Little Richard,Little Richard,"Rock, Blues","Rock & Roll, Rhythm & Blues"
4,420,1957,"The ""Chirping"" Crickets",The Crickets,"Rock, Pop","Rockabilly, Rock & Roll"

In [22]:
data2.tail() # last 5 records

,Number,Year,Album,Artist,Genre,Subgenre
495,430,2007,Vampire Weekend,Vampire Weekend,Rock,Indie Rock
496,494,2007,Oracular Spectacular,MGMT,"Electronic, Rock, Pop","Synth-pop, Indie Rock"
497,437,2008,Tha Carter III,Lil Wayne,"Hip Hop, Funk / Soul","RnB/Swing, Screw, Pop Rap, Thug Rap"
498,353,2010,My Beautiful Dark Twisted Fantasy,Kanye West,Hip Hop,None
499,381,2011,The Smile Sessions,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"

In [23]:
data2.head(2) # prints first two records .

,Number,Year,Album,Artist,Genre,Subgenre
0,101,1955,In the Wee Small Hours,Frank Sinatra,"Jazz, Pop","Big Band, Ballad"
1,56,1956,Elvis Presley,Elvis Presley,Rock,"Rock & Roll, Rockabilly"

In [24]:
data2.tail(4) # Will give you last 4 records of table

,Number,Year,Album,Artist,Genre,Subgenre
496,494,2007,Oracular Spectacular,MGMT,"Electronic, Rock, Pop","Synth-pop, Indie Rock"
497,437,2008,Tha Carter III,Lil Wayne,"Hip Hop, Funk / Soul","RnB/Swing, Screw, Pop Rap, Thug Rap"
498,353,2010,My Beautiful Dark Twisted Fantasy,Kanye West,Hip Hop,None
499,381,2011,The Smile Sessions,The Beach Boys,Rock,"Pop Rock, Psychedelic Rock"


# <a id="11"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 11 - Exploratory Data Analysis.  <br><div>

In [25]:
# Columns of the DataFrame
data2.columns

Index(['Number', 'Year', 'Album', 'Artist', 'Genre', 'Subgenre'], dtype='object')

# <a id="11.1"></a>
## <span style="color: #FF4450;"> 11.1 -  Descrpition about index of data
To get a description of the index of the DataFrame, you can use the index attribute.

In [26]:
data.index

RangeIndex(start=0, stop=227, step=1)

In [27]:
data2.index

RangeIndex(start=0, stop=500, step=1)

In [28]:
data3.index

RangeIndex(start=0, stop=848835, step=1)




<p style="padding: 10px; background-color: #000000; margin: 0; color: ORANGE; font-family: New Times Roman; font-size: 135%; text-align: center; border-radius: 5px; overflow: hidden; font-weight: 500;">
lets retrieve some information of our dataset: 
</p>

<p style="text-align: center;">
    <!-- Content related to the bar chart can be added here -->
</p>

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Country                             227 non-null    object
 1   Region                              227 non-null    object
 2   Population                          227 non-null    int64
 3   Area (sq. mi.)                      227 non-null    int64
 4   Pop. Density (per sq. mi.)          227 non-null    object
 5   Coastline (coast/area ratio)        227 non-null    object
 6   Net migration                       224 non-null    object
 7   Infant mortality (per 1000 births)  224 non-null    object
 8   GDP ($ per capita)                  226 non-null    float64
 9   Literacy (%)                        209 non-null    object
 10  Phones (per 1000)                   223 non-null    object
 11  Arable (%)                          225 non-null    object
 12  Crops (%)                           225 non-null    object
 13  Other (%)                           225 non-null    object
 14  Climate                             205 non-null    object
 15  Birthrate                           224 non-null    object
 16  Deathrate                           223 non-null    object
 17  Agriculture                         212 non-null    object
 18  Industry                            211 non-null    object
 19  Service                             212 non-null    object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.6+ KB







<p style="padding: 10px; background-color: #000000; margin: 0; color: ORANGE; font-family: New Times Roman; font-size: 135%; text-align: center; border-radius: 5px; overflow: hidden; font-weight: 500;">
As we can see in the above output not every columns has same output since repeated values are excluded

</p>

<p style="text-align: center;">
    <!-- Content related to the bar chart can be added here -->
</p>

In [30]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Number    500 non-null    int64
 1   Year      500 non-null    int64
 2   Album     500 non-null    object
 3   Artist    500 non-null    object
 4   Genre     500 non-null    object
 5   Subgenre  500 non-null    object
dtypes: int64(2), object(4)
memory usage: 23.6+ KB

In [31]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848835 entries, 0 to 848834
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   row_id      848835 non-null  int64
 1   time        848835 non-null  datetime64[ns]
 2   x           848835 non-null  int64
 3   y           848835 non-null  int64
 4   direction   848835 non-null  object
 5   congestion  848835 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 38.9+ MB

# <a id="11.2"></a>
## <span style="color: #FF4450;"> 11.2 - Statistical descrpition about  of data
To get a statistical description of the DataFrame, you can use the describe() function.

In [32]:
data2.describe

<bound method NDFrame.describe of      Number  Year                              Album           Artist  \
0       101  1955             In the Wee Small Hours    Frank Sinatra
1        56  1956                      Elvis Presley    Elvis Presley
2       308  1956         Songs for Swingin' Lovers!    Frank Sinatra
3        50  1957              Here's Little Richard   Little Richard
4       420  1957            The "Chirping" Crickets     The Crickets
..      ...   ...                                ...              ...
495     430  2007                    Vampire Weekend  Vampire Weekend
496     494  2007               Oracular Spectacular             MGMT
497     437  2008                     Tha Carter III        Lil Wayne
498     353  2010  My Beautiful Dark Twisted Fantasy       Kanye West
499     381  2011                 The Smile Sessions   The Beach Boys

                     Genre                             Subgenre
0                Jazz, Pop                     Big Band, Ballad
1                     Rock              Rock & Roll, Rockabilly
2                Jazz, Pop                Vocal, Easy Listening
3              Rock, Blues          Rock & Roll, Rhythm & Blues
4                Rock, Pop              Rockabilly, Rock & Roll
..                     ...                                  ...
495                   Rock                           Indie Rock
496  Electronic, Rock, Pop                Synth-pop, Indie Rock
497   Hip Hop, Funk / Soul  RnB/Swing, Screw, Pop Rap, Thug Rap
498                Hip Hop                                 None
499                   Rock           Pop Rock, Psychedelic Rock

[500 rows x 6 columns]>










<p style="padding: 10px; background-color: #000000; margin: 0; color: ORANGE; font-family: New Times Roman; font-size: 135%; text-align: center; border-radius: 5px; overflow: hidden; font-weight: 500;">
Using a parenthesis or a "()" with describe will give us the statistical summary or statistical values for the dataframe


</p>

<p style="text-align: center;">
    <!-- Content related to the bar chart can be added here -->
</p>

In [33]:
data2.describe()

           Number         Year
count  500.000000   500.000000
mean   250.500000  1979.270000
std    144.481833    12.093701
min      1.000000  1955.000000
25%    125.750000  1970.000000
50%    250.500000  1976.000000
75%    375.250000  1988.000000
max    500.000000  2011.000000

# <a id="11.3"></a>
## <span style="color: #FF4450;">11.3 -  To get total number of rows
</p>

<p style="text-align: center;">
    <!-- Content related to the bar chart can be added here -->
</p>

In [34]:
data2.count()

Number      500
Year        500
Album       500
Artist      500
Genre       500
Subgenre    500
dtype: int64

In [35]:
data3.count()

row_id        848835
time          848835
x             848835
y             848835
direction     848835
congestion    848835
dtype: int64


# <a id="12"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 12 - Groupby().  <br><div>


## <span style="color: #FF4450;">The groupby() function is used to group data based on one or more columns.

In [36]:

# Create a sample DataFrame
data = {
    'Group': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [1, 2, 3, 4, 5, 6]
}

# converting the Dictionary into a dataframe
df = pd.DataFrame(data)

# Calculate the mean value for each group and assign it to a new column
df['GroupMean'] = df.groupby('Group')['Value'].transform('mean')

df

  Group  Value  GroupMean
0     A      1        3.0
1     B      2        4.0
2     A      3        3.0
3     B      4        4.0
4     A      5        3.0
5     B      6        4.0


# <a id="13"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 13 - Crosstab().  <br><div>


## <span style="color: #FF4450;">The crosstab() function is used to compute a cross-tabulation of two or more factors.

In [37]:
# Create a sample DataFrame
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Value': [1, 2, 3, 4, 5, 6]
}
# converting the Dictionary into a dataframe
df = pd.DataFrame(data)

# Compute a cross-tabulation table
cross_tab = pd.crosstab(df['Category'], df['Value'])
cross_tab

Value     1  2  3  4  5  6
Category
A         1  0  1  0  1  0
B         0  1  0  1  0  1

# <a id="14"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 14 -  where():  <br><div>


## <span style="color: #FF4450;">  The where() function is used to filter rows based on a condition.

In [38]:
import numpy as np

# Create a sample DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': [6, 7, 8, 9, 10]
}

# converting the Dictionary into a dataframe
df = pd.DataFrame(data)

# Replace values in column 'B' where the value in column 'A' is less than 3
df['B'] = df['B'].where(df['A'] < 3, np.nan)
df

   A    B
0  1  6.0
1  2  7.0
2  3  NaN
3  4  NaN
4  5  NaN


# <a id="15"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 15 - nunique()  <br><div> 


## <span style="color: #FF4450;">  This function returns the number of unique elements in each column of a DataFrame. It can be used to quickly get the count of unique values in a column.

In [39]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 2, 3, 3, 3],
                   'B': ['apple', 'banana', 'banana', 'cherry', 'cherry', 'cherry']})

unique_counts = df.nunique()
print(unique_counts)

A    3
B    3
dtype: int64

# <a id="16"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 16 - Value Counts()  <br><div>



## <span style="color: #FF4450;">  The value_counts() function is used to count the occurrences of each unique value in a column.

In [40]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 2, 3, 3, 3],
                   'B': ['apple', 'banana', 'banana', 'cherry', 'cherry', 'cherry']})

value_counts = df['B'].value_counts()
print(value_counts)

cherry    3
banana    2
apple     1
Name: B, dtype: int64

# <a id="17"></a>
### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" > 17 - cut()  <br><div> 



## <span style="color: #FF4450;">  cut(): This function can be used to segment and sort data into bins. It is particularly useful for creating categorical variables based on numerical data.

In [41]:
import pandas as pd

# Create a sample DataFrame
data = {'Age': [21, 25, 29, 33, 37, 41, 45, 49, 53, 57]}
df = pd.DataFrame(data)

# Define the bin edges for age groups
bin_edges = [20, 30, 40, 50, 60]

# Create a new column 'Age Group' by cutting the 'Age' column into bins
df['Age Group'] = pd.cut(df['Age'], bins=bin_edges)

# Display the DataFrame
df

   Age Age Group
0   21  (20, 30]
1   25  (20, 30]
2   29  (20, 30]
3   33  (30, 40]
4   37  (30, 40]
5   41  (40, 50]
6   45  (40, 50]
7   49  (40, 50]
8   53  (50, 60]
9   57  (50, 60]

# <a id = "18"></a>

### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" >18 - MELT()  <br><div>
melt() is a pandas function that transforms a wide-format DataFrame into a long-format DataFrame by unpivoting the specified columns.

In [42]:
import pandas as pd

data = {
    'Name': ['John', 'Jane', 'Mike'],
    'Math': [85, 90, 92],
    'Science': [78, 88, 84],
    'English': [80, 82, 86]
}

df = pd.DataFrame(data)
melted_df = df.melt(id_vars='Name', var_name='Subject', value_name='Score')

melted_df

   Name  Subject  Score
0  John     Math     85
1  Jane     Math     90
2  Mike     Math     92
3  John  Science     78
4  Jane  Science     88
5  Mike  Science     84
6  John  English     80
7  Jane  English     82
8  Mike  English     86

# <a id = "19"></a>

### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" >19 - pivot_table  <br><div>
The pivot_table() function allows you to summarize and aggregate data in a tabular format based on one or more columns.

In [43]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['John', 'Alice', 'Bob', 'Alice', 'John'],
    'Subject': ['Math', 'Science', 'Math', 'Science', 'Science'],
    'Score': [80, 90, 75, 85, 92]
}
df = pd.DataFrame(data)

# Apply pivot_table() to summarize and aggregate data
pivot_df = pd.pivot_table(df, values='Score', index='Name', columns='Subject', aggfunc='mean')

# Print the resulting pivot table
print(pivot_df)

Subject  Math  Science
Name
Alice     NaN     87.5
Bob      75.0      NaN
John     80.0     92.0

# <a id = "20"></a>

### <div style= "font-family: Times New Roman; font-weight:bold; letter-spacing: 0px; color:WHITE; font-size:120%; text-align:left;padding:3.0px; background: brown; border-bottom: 8px solid WHITE" >  20 - CATEGORIES. <br><div>
This function is used to create a categorical variable from a given array or column. Categorical variables are useful for representing data with a limited number of unique values or categories

In [44]:
import pandas as pd

categories = pd.Categorical(data2)
categories

['Number', 'Year', 'Album', 'Artist', 'Genre', 'Subgenre']
Categories (6, object): ['Album', 'Artist', 'Genre', 'Number', 'Subgenre', 'Year']

# THANK YOU :



<p style="padding: 10px; background-color: #000000; margin: 0; color: ORANGE; font-family: New Times Roman; font-size: 135%; text-align: center; border-radius: 5px; overflow: hidden; font-weight: 500;">
THANK YOU . 
</p>

<p style="text-align: center;">
    <!-- Content related to the bar chart can be added here -->
</p>




    I hope you all learnt something or atleast it was a revision for most of you users , I would love your opinions on this let me know , If I am missing out something in this notebook , And do upvote as it keeps me motivated and helps me to perform and provide better.
    
    THANKING YOU IN ANTICIPATON;

![Alt Text](https://media.giphy.com/media/9V8You0A1G64JmiBUi/giphy.gif)